.signup-tabs__wrap_a2 {
    text-decoration: underline; 
    color: #ededed;
}
.signup-tabs__wrap_a1 {
    text-decoration: underline; 
    color: #ededed;
}
.signup-tabs__wrap_p1 {
    text-decoration: underline; 
    color: #ededed;
}
.signup-tabs__wrap_top {
    margin-top: 50px;
}
.a_link:link {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-size: 16px;
}
.custom-checkbox {
    z-index: -1;
    opacity: 0;
}
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-size: 14px
}
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.custom-checkbox:checked+label::before {
    border-color: #adb5bd;
    background-color: #021836fa;
    background-image: url("data:image/svg+xml,%3csvg xmlns='https://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.a_link {
    color: #ededed;
}
.form_block {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
.btn.fancy-btn.w-button:before,
.btn.fancy-btn.w-button:hover:before,
.btn.fancy-btn.w-button:after,
.btn.fancy-btn.w-button:hover:after,
.btn.fancy-btn.w-button:hover,
.btn.fancy-btn.w-button {
    transition: all .5s ease-in-out;
}
.blockLogin {
    position: absolute;
    width: 80%;
}
.btn.fancy-btn.dark {
    color: #ededed;
}
.btn.fancy-btn {
    position: relative;
    z-index: 100;
    overflow: visible;
    padding: 20px 60px !important;
    background-color: transparent;
    -webkit-transform: translate(0px, 0px) translate(0px, 0px);
    -ms-transform: translate(0px, 0px) translate(0px, 0px);
    transform: translate(0px, 0px) translate(0px, 0px);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.btn {
    margin-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    border-width: 0px;
    border-color: #000;
    border-radius: 50px;
}
.w-button {
    display: inline-block;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}
.btn.fancy-btn.w-button:before {
    content: url(./images/5e8708494cbe79d585eb640e_chevron-24\ копия.png);
    width: 20px;
    height: 20px;
    position: absolute;
    right: 13px;
    top: 6px;
    padding-top: 12px;
    transform: translateX(0px);
    color: #ededed;
}
.btn.fancy-btn.w-button:after {
    width: 50px;
    height: 50px;
    background: #ededed;
    position: absolute;
    right: 0;
    top: 4px;
    content: '';
    text-align: center;
    border-radius: 50px;
    z-index: -1;
    box-shadow: 0 0 10px rgb(210 209 212);
}
.btn.fancy-btn.orange.w-button:hover:after {
    background-color: #ededed;
}
.btn.fancy-btn.w-button:hover:after {
    width: 120%;
    content: '';
    right: -10%;
}
.btn.fancy-btn.w-button:hover:before {
    transform: translateX(20px);
    color: transparent;
}
.btn.fancy-btn.dark:hover {
    color: #193c6d;
}
.wrapper {
    background-position: 50% 50%;
    background-size: cover;
    -o-object-fit: cover;
    object-fit: cover;
    color: #eee;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective-origin: 50% 50%;
    animation: animation 100s linear infinite;
    z-index: -5;
}
.wrapper img {
    caret-color:transparent;
}
@keyframes animation {
    100% {
        background-position: 0px -3000px;
    }
}
.col_passwordRecov {
    width: 47%;
    float: left;
}
.col_btn {
    float: right;
    margin-top: -40px;
}
.col_btn a {
    float: right;
}
input {
    background: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    color: inherit;
    width: 100%;
    outline: none;
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-family: Lato, sans-serif;
    font-weight: 400;
    letter-spacing: -.02em;
    text-align: left;
}
.tabs-input__wrap {
    font-weight: 400;
    border: .2rem solid #c4c4c4;
    position: relative;
    background-color: #021836fa;
    margin-top: 2rem;
    padding: .9rem 1.4rem;
}
.signup-tabs__wrap {
    width: 82%;
    margin: 0 auto;
}
.signup__tabs {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    border-bottom: 2px solid #ededed;
}
.signup__tabs>div.active {
    background-color: #ee534f !important;
}
.signup__tabs>div {
    width: 33.333%;
    cursor: pointer;
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
.signup__tabs>div>h2 {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    z-index: 1;
    position: relative;
}
.signup__tabs>div.active>h2:after {
    color: #bd403c;
}
.signup__tabs>div:nth-child(1)>h2:after {
    content: "1";
}
.signup__tabs>div>h2:after {
    position: absolute;
    left: -24px;
    top: 50%;
    transform: translateY(-50%);
    color: #1d1c22;
    font-size: 75px;
    font-weight: 900;
    z-index: -1;
}
.signup__tabs>div.active:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    z-index: 1;
    transform: translateY(-50%);
    border: 13px solid transparent;
    border-left: 13px solid #ee534f;
}
.signup__tabs>div:nth-child(2) {
    background-color: #33363b;
}
.signup__tabs>div {
    width: 33.333%;
    cursor: pointer;
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
.signup__tabs>div>h2 {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    z-index: 1;
    position: relative;
}
.signup__tabs>div:nth-child(2)>h2:after {
    content: "2";
    color: #28292d;
}
.signup__tabs>div>h2:after {
    position: absolute;
    left: -24px;
    top: 50%;
    transform: translateY(-50%);
    color: #1d1c22;
    font-size: 75px;
    font-weight: 900;
    z-index: -1;
}
.signup__tabs>div:nth-child(3) {
    background-color: #27282c;
}
.signup__tabs>div:nth-child(3)>h2:after {
    content: "3";
}
.tabs_column2 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}
.tabs_column2 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}
.tabs_column3,
.select,
.control-checkbox {
    position: relative;
}
.select {
    cursor: pointer;
    width: 100%;
    color: #fff;
    background-color: transparent;
    z-index: 1;
    font-size: 14px;
}
.select__gap {
    z-index: 1;
    border-bottom: 1px solid #ededed;
}
.footer__get-in-touch__button.open img,
.select .select__gap.on:after {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.footer__get-in-touch__button.open img,
.select .select__gap.on:after {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.footer__get-in-touch__button img,
.select .select__gap:after {
    margin-left: 23px;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
}
.select__gap:after {
    content: '';
    right: 10px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    height: 10px;
    width: 16px;
    background: url(images/get-in-touch.png) no-repeat center center / cover;
    margin: 0;
}
@media only screen and (max-width:800px) {  
    .signup-tabs__wrap {
        width: 90%;
    }
    .col_passwordRecov {
        float: none;
        width: 100%;
    }
    .col_btn a {
        float: none;
    }
    .col_btn {
        float: none;
        margin-top: 0px;
        text-align: center;
    }
    .btn.fancy-btn {
        padding: 18px 60px !important;
    }
}
@media screen and (max-width:450px){
    .btn.fancy-btn {
        padding: 12px 60px !important;
    }
}
@media screen and (max-width:300px){
    .btn.fancy-btn {
        padding: 14px 60px !important;
    }
}