
a {
  text-decoration: none;
}

.section {
  background-color: rgba(0, 0, 0, 0.2);
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background-position: 0px 0px;
}

.section-2.reg {
  background-image: url('../images/bg-registration.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
#AboutUs .rot1 {
  position: absolute; 
  margin-left: 80%; 
  margin-top: -200px;
}
#AboutUs .rot2 {
  position: absolute; 
  width: 20%;
}
#AboutUs .us {
  margin-top:250px;
}
#TopOffers .rot1 {
  position: absolute; 
  width: 50%; 
  margin-left:25% ; 
  margin-top: -10vh;
}
#Blog .our {
  opacity: .1;
  color: transparent;
  text-shadow: 5px 1px 1px rgb(163 163 163), -5px 1px 1px #021836fa;
  z-index: 1;
  left: -2rem;
  font-size: 280px;
  line-height: 1em;
  font-weight: 700;
  letter-spacing: -.02em;
  white-space: nowrap;    
  position: absolute
}
#Blog .blog {
  opacity: .1;
  color: transparent;
  text-shadow: 5px 1px 1px rgb(163 163 163), -5px 1px 1px #021836fa;
  z-index: 1;
  left: -2rem;
  font-size: 280px;
  line-height: 1em;
  font-weight: 700;
  letter-spacing: -.02em;
  white-space: nowrap;
  position: absolute;
  margin-top: 30vh;
}
.blockBlog {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.blockContainer {
  display: block; 
  width: 70%; 
  float: left;
}
.BlogImage {
  width: 30%; 
  float:right; 
  transform: rotate(25deg);
}
.BlogImage img {
  width: 80%;
  float: right; 
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}


#AboutUs, #TopOffers, #contact-us, .heading, .h2AboutUs, .h2TopOffers , .h2Blog, .h2Where, .h2ContactUs, .about, .us {
  transition: linear all 1s;
  

}
.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1000;
  height: 60px;
  padding-right: 20px;
  padding-left: 100px;  
  background-color: transparent;
  z-index: 999;
  
  
}
.navbar.w-nav {
  width: 100vw;
}
.menuColor {
  box-shadow: 1px 1px 20px 0 rgb(0 0 0 / 32%);
  background-color: #353535;
}
.logo {
  margin-top: 15px;
  margin-right: 15px;
}

.nav {
  padding-right: 2%;
  padding-left: 2%;
  color: #ededed;
  font-size: 13px;
  font-weight: 300;  
}

/* .nav:hover {
  color: #5b8fff;
} */
.activeMenu {
  color: #ffffff; 
  background: rgba(117, 117, 119, 0.5);
  box-shadow: 0 0 10px rgb(210, 209, 212);

}
.nav.m.mem.w--current {
  color: #5b8fff;
}

.nav.mob {
  display: none;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.full-logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.heading {
  margin-bottom: 0px;
  color: #ededed;
 text-transform: capitalize;
  text-align: center;
  letter-spacing: 1px;
  font-size: 60px;
    line-height: 1.2em;
    font-weight: 700;
}



.image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.link {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.3px;
}

.link:active {
  color: #5b8fff;
}

.link._2 {
  margin-top: 20px;
  color: #ececec;
}

.link._2:hover {
  color: #5b8fff;
}

.text-block-2 { 
  margin-top: 10px;
  color: #ededed;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.33px; 
  line-height: 1.7em;
  max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  margin-top: -100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.container._100 {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-menu {
  width: 95%;
  text-align: center;
}

.brand {
  width: 5%;
}

.text-block-3 {
  color: #5b8fff;
}


.register {
  margin-top: 13px;
  font-size: 13px;
  padding: 6px 42px;
  float: right;
  border-radius: 100px;
  background-color: #193c6d;
  -webkit-transition: box-shadow 333ms ease;
  transition: box-shadow 333ms ease;
  color: #ededed;
 
 
}

.register:hover {
  box-shadow: 0 0 10px rgb(210, 209, 212);
}

.register.w--current {
  display: none;
}

.section-3 {
  padding: 200px 15px 200px 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: 100% 100%;
  background-size: cover;
}

.container-2 {
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 5px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.h2 {
  color: #ff0039;
  z-index: 9;
  position: relative;
  font-size: 30px;
    line-height: 1.3em;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.h2.center {
  text-align: left;
}

.h2.center.black {
  color: #1f2123;
}

.h2.center.me {
  margin-bottom: 20px;
}

.h2.center.me._50 {
  margin-bottom: 15px;
}

.h2.black {
  margin-top: 0px;
  color: #ededed;
}

.paragraph {
  color: #ededed;
  line-height: 1.7em;
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.3px;
  z-index: 9;
  position: relative;
}

.paragraph._2 {
  margin-bottom: 0px;
}

.paragraph.center {
  line-height: 25px;
  font-weight: 200;
  text-align: left;
}

.paragraph.center.black {
  color: #1f2123;
}

.paragraph.center.b {
  margin-bottom: 30px;
  font-weight: 700;
}

.paragraph.black {
  color: #ededed;
}

.paragraph.black.b {
  margin-top: 30px;
}

.paragraph._30 {
  margin-top: 30px;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
 
  background-position: 0% 50%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.arrow-contact {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 100%;
  background-color: #fff;
  background-image: url('../images/contact-b-rel.svg'), url('../images/ic-send-2-rel-blue.svg');
  background-position: -230% 50%, 50% 50%;
  background-size: 70%, 34%;
  background-repeat: no-repeat, no-repeat;
  box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 333ms ease;
  transition: all 333ms ease;
  color: rgba(51, 51, 51, 0);
}

.arrow-contact:hover {
  background-position: 50% 50%, 180% 50%;
  background-size: 59%, 34%;
}

.section-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding: 25px 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/galaxy-2150265_1280.png');
  background-position: 50% 50%;
  background-size: 101% 100%;
  background-repeat: no-repeat;
}

.iphones {
  display: block;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.social {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 100%;
  background-image: url('../images/white-ig.svg'), linear-gradient(42deg, #fc7433, #ef2783);
  background-position: 50% 50%, 0px 0px;
  background-size: 70%, auto;
  background-repeat: no-repeat, repeat;
}

.social:hover {
  background-image: url('../images/white-ig.svg'), linear-gradient(42deg, #b34f1f, #c41d6a);
  background-position: 50% 50%, 0px 0px;
  background-size: 70%, auto;
  background-repeat: no-repeat, repeat;
}

.social.fb {
  background-color: #3b66c0;
  background-image: url('../images/white-fb.svg');
  background-position: 50% 50%;
  background-size: 70%;
  background-repeat: no-repeat;
}

.social.fb:hover {
  background-color: #2d5098;
}

.social.vk {
  background-color: #4c6c91;
  background-image: url('../images/white-vk.svg');
  background-position: 50% 50%;
  background-size: 70%;
}

.social.vk:hover {
  background-color: #345881;
}

.social.vk:active {
  background-color: #345881;
}

.div-block-3 {
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 190px;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.section-6 {
  padding: 120px 15px;
}

.f {
  height: 50px;
  margin-bottom: 0px;
  border: 1px none #000;
  border-radius: 2px;
  background-color: #ededed;
  font-size: 16px;
  font-weight: 300;
}

.submit-button {
  /* width: 50px;
  height: 50px;
  margin-top: 20px; */
  /* float: right;
  border-radius: 100%;
  background-color: #5b8fff; */
  /* background-image: url('../images/contact-b-rel.svg'), url('../images/ic-send-2-rel.svg');
  background-position: -230% 50%, 50% 50%;
  background-size: 25px, 15px; */
  /* background-repeat: no-repeat, no-repeat;
  box-shadow: 0 9px 11px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 333ms ease;
  transition: all 333ms ease;
  color: rgba(91, 143, 255, 0);
  font-size: 26px; */
}

/* .submit-button:hover {
  background-position: 50% 50%, 200% 50%;
} */

/* .submit-button._2 {
  margin-top: -56px;
  margin-right: -75px;
  -webkit-transition: all 333ms ease;
  transition: all 333ms ease;
} */

/* .submit-button._2:hover {
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
} */

.section-6 {
  padding: 55px 15px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-2 {
  max-width: 120%;
}

.section-7 {
  padding: 100px 15px;
}


.bold-text-2 {
  font-style: italic;
}

.field {
  margin-bottom: 20px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #fff #fff #fff;
  border-radius: 0px;
  background-color: transparent;
  font-size: 18px;
  font-weight: 300;
}

.section-9 {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
}

.footer {
  padding: 30px 15px;
  background-image: url('../images/network-4894813_1280.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-logo {
  display: block;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

.event-img {
  height: 170px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-image: url('../images/im-news-12x.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.event-img._2 {
  background-image: url('../images/img-news-22x.jpg');
}

.event-img._3 {
  background-image: url('../images/img-news-32x.jpg');
}

.event-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 230px;
  padding: 50px 20px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #1f2123;
}

.event-date {
  color: #ffac00;
  font-weight: 300;
}

.text-block-4 {
  margin-top: 40px;
  margin-bottom: 40px;
  color: #ededed;
  font-size: 24px;
  line-height: 26px;
  font-weight: 900;
  text-align: center;
}

.div-block-4 {
  margin-top: 99px;
  padding-top: 29px;
  padding-bottom: 29px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.social-footer {
  width: 40px;
  height: 40px;
  margin-right: auto;
  margin-left: 15px;
  float: right;
  border-radius: 100%;
  background-color: #ededed;
  background-image: url('../images/vk-b-rel_2.svg');
  background-position: 50% 50%;
  background-size: 70%;
  background-repeat: no-repeat;
  box-shadow: 0 6px 3px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.social-footer:hover {
  background-color: #5b8fff;
  box-shadow: none;
}

.social-footer.vk {
  background-image: url('../images/vk-b-rel.svg');
  background-position: 50% 50%;
  background-size: 70%;
  background-repeat: no-repeat;
}

.social-footer.ig {
  background-image: url('../images/vk-b-rel_1.svg');
  background-position: 50% 50%;
  background-size: 70%;
  background-repeat: no-repeat;
}

.social-footer.l {
  margin-right: 10px;
  margin-left: 0px;
  float: left;
}

.social-footer.l.contact {
  background-image: url('../images/contact-b-rel.svg');
}

.social-footer.l.s {
  background-image: url('../images/symb-b-rel.svg');
}

.link-block-2 {
  display: block;
  width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.text-block-5 {
  display: block;
  width: 80%;
  margin-top: 12px;
  margin-left: 11px;
  padding-left: 5px;
  color: #ededed;
}

.text-block-6 {
  color: #dfdede;
  opacity: .8;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  font-weight: 200;
  text-align: center;
}

.drop-nav {
  background-color: #1f2123;
  color: #e4e4e4;
}

.drop-nav:hover {
  background-color: #5b8fff;
}

.drop-nav.w--current {
  color: #fff;
}

.collection-list-wrapper {
  width: 80%;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 10px 10px;
  border-top: 0px solid #383838;
}

.collection-list-2 {
  margin-right: 0%;
  margin-left: 0%;
  padding-top: 20px;
  border-top: 0px solid #383838;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(3, 1fr);
}

.w-row:before,
.w-row:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.collection-item-2 {
  margin: 20px 0px;
  padding: 0px 10px;
}

.w-col-4 {
  width: 33.33333333%;
}

.w-col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.link-block {
  width: 100%;
  background-color: transparent;
}

a {
  display: block;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #1a1b1f;
  text-decoration: none;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.div-block-13 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
  min-width: 100%;
  background-image: url(https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg);
  background-position: 50% 50%;
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
}

.description {
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.splide__arrow.splide__arrow--next.btn.fancy-btn.orange.dark.w-button {
  padding: 28px 130px
}

.splide__arrow.splide__arrow--next.btn.fancy-btn.orange.dark.w-button:hover:after {
  width: 100%;
}

.splide__track {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.splide__slide {
  margin: 10px;
}

.splide--draggable>.splide__track>.splide__list>.splide__slide {
  height: 500px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}




.meeting_baner {
  background-color: #021836fa;
  height: 500px;
  width: 120px;
  margin-top: -500px;
  color: white;
  position: absolute;
  text-align: center;
  transition: width 3s;
}

.meeting_baner h4 {
  transform: rotate(-90deg);
  margin-top: 130px;
  transition: transform 3s;
}

.meetUs {
  opacity: .1;
  color: transparent;
  text-shadow: 5px 1px 1px rgb(163 163 163), -5px 1px 1px #021836fa;            
  left: -2rem;
  font-size: 280px;
  line-height: 1em;
  font-weight: 700;
  letter-spacing: -.02em;
  white-space: nowrap;
  z-index: 0;
  margin-top: -120px;
  position: absolute;
}
#contact-us .rot2 {
  position: absolute; 
  width: 30%; 
  margin-left:-10%; 
  margin-top: 12%;
}
#contact-us .btn.fancy-btn.orange.dark.w-button {
  margin-left: 90%;
}


.img_actronaut {
  position: absolute; 
  margin-left: 50%; 
  margin-top: -150px; 
  width: 30%;
}
.contact {
  opacity: .1;
  color: transparent;
  text-shadow: 5px 1px 1px rgb(163 163 163), -5px 1px 1px #021836fa;
  left: -2rem;
  font-size: 280px;
  line-height: 1em;
  font-weight: 700;
  letter-spacing: -.02em;
  white-space: nowrap;
  z-index: 0;
  margin-top: -120px;
  position: absolute;
  margin-left: -20%;
}
.contactUs {
  opacity: .1;
  color: transparent;
  text-shadow: 5px 1px 1px rgb(163 163 163), -5px 1px 1px #021836fa;
  left: -2rem;
  font-size: 280px;
  line-height: 1em;
  font-weight: 700;
  letter-spacing: -.02em;
  white-space: nowrap;
  z-index: 0;
  margin-top: 120px;
  position: absolute;
  margin-left: -50%;

}
.h2.h2ContactUs {
  width: 50%;
}
.splide__slide.is-active .meeting_baner { 
  background-color: #021836cc;
  width: 100%;
}

.splide__slide.is-active {
  transform: scale(1.2);
  margin-right: 150px;
  z-index: 99999;
}

.splide__slide.is-active .description {
  opacity: 1;
}

.splide__slide.is-active h4 {
  transform: rotate(0deg);
}

.splide__slide img {
  vertical-align: bottom;
  height: 500px;
  width: auto;
  object-fit: cover;
}

.splide__pagination {
  top: 110%;
  display: none;
}

.nonedisplay {
  display: none;
 
}

.splide__arrow--next.btn.fancy-btn.orange.dark.w-button:before {
  content: 'NEXT';
  color: #021836fa;  
  position: absolute;
  width: 80px !important; 
  height: 50px;
  line-height: 40px;
  background: #ededed;   
  border-radius: 10px; 
  box-shadow: 0 0 10px rgb(210 209 212);
}

.splide__arrow svg {
  display: none;
}

.splide__arrow--next.btn.fancy-btn.orange.dark.w-button:after {
  width: 80px !important; 
  height: 50px;
  background: #ededed;
  position: relative;
  right: 0;
  top: 4px;
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
  z-index: -1;
  box-shadow: 0 0 10px rgb(210 209 212);
}
.splide__arrow--prev {
  display: none !important;
}
.splide__arrows {
  position: absolute;
  margin-top: 550px;
}

.div-block-14:hover {
  -webkit-transform: scale(1, 1.1);
  -ms-transform: scaleY(1, 1.1);
  transform: scaleY(1, 1.1);
  transition: 2s;
  color: white;
}

.div-block-14 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 170px;
  margin-top: -80px;
  margin-right: 7%;
  margin-left: 7%;
  padding: 10px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #021836fa;
  box-shadow: 0 0 11px -2px rgb(255 254 254 / 37%);
}

.text-block-6 {
  text-align: center;
}

.heading-3 {
  position: relative;
  display: block;
  margin: 0px 0%;
  padding: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
  color: #ededed;
}

* {

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.progressline {
  height: 6px;
  border-radius: 50px;
  background-color: #5b8fff;
}

.progressline.g {
  background-color: #b7c5d1;
}

.progressline.b {
  background-color: #1f2123;
}

.heading-3 {
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.text-block-7 {
  margin-top: 10px;
  color: #1f2123;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-align: right;
}

.p-bar {
  width: 0%;
  margin-bottom: 30px;
  opacity: 0;
}

.column {
  padding-right: 40px;
  padding-left: 0px;
}

.form-block {
  margin-top: 45px;
}

.mobileimg {
  display: none;
}

.div-block-5 {
  width: 50px;
  height: 50px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  border-radius: 100%;
  background-color: #5b8fff;
  background-image: url('../images/white-symbol.svg');
  background-position: 50% 50%;
  background-size: 57%;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.47);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.div-block-5:hover {
  background-color: #4174e2;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.47);
}

.link-block-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
}

.link-block-3:hover {
  color: #5b8fff;
}

.red-arrow {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 100%;
  background-color: #fff;
  background-image: url('../images/contact-b-rel.svg'), url('../images/ic-send-2-rel-red.svg');
  background-position: -320% 50%, 50% 50%;
  background-size: 30px 30px, 15px 15px;
  background-repeat: no-repeat, no-repeat;
  box-shadow: 0 7px 15px -4px rgba(0, 0, 0, 0.69);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.red-arrow:hover {
  background-position: 50% 50%, 190% 50%;
  background-size: 25px, 15px 15px;
  box-shadow: 0 0 15px -4px transparent;
}

.image-4.m {
  display: none;
}

.text-block-8.m {
  display: none;
}

._100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.suc {
  border-radius: 4px;
  background-color: #5b8fff;
  color: #fff;
}

.form-block-2 {
  width: 100%;
  margin-bottom: 40px;
  border-radius: 2px;
}

.column-27 {
  padding-right: 5px;
}

.field-2 {
  height: 50px;
  margin-bottom: 10px;
  border: 0px solid transparent;
  border-radius: 2px;
  background-color: #ededed;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
  color: #1b2e52;
  font-size: 16px;
  font-weight: 300;
}

.field-2._100 {
  width: 100%;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-6 {
  position: relative;
  left: -55px;
  display: block;
  max-width: 150%;
}

.image-6.thanks {
  margin-bottom: -50px;
}

.success-message {
  padding: 64px;
  border-radius: 2px;
  background-color: #ededed;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.success-message.cong {
  width: 650px;
  margin-top: 35px;
  margin-bottom: 100px;
}

.text-block-10 {
  margin-bottom: 20px;
  color: #3d64b6;
  font-size: 24px;
  line-height: 26px;
  font-weight: 900;
  text-align: left;
}

.text-block-11 {
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.error-message {
  border-radius: 2px;
}

.italic-text {
  color: #3d64b6;
  font-size: 17px;
  font-weight: 200;
}

.image-7 {
  margin-bottom: -191px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/bg_MMBER.svg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/bg_MMBER.svg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, auto;
  background-attachment: scroll, fixed;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.button-3 {
  margin-top: 25px;
  border-radius: 2px;
  background-color: #5b8fff;
}

.heading-4 {
  margin-top: 0px;
}

.section-10 {
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url('../images/bg-members2x.png');
  background-position: 50% 50%;
  background-size: cover;
}

.div-block-7 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.promo-top {
  height: 130px;
  padding: 20px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-image: url('../images/im-promo-red.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.promo-top.blue {
  background-image: url('../images/im-promo-blue.svg');
}

.promo-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 160px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #000;
  box-shadow: 0 23px 20px -12px #000;
}

.text-block-12 {
  color: #ededed;
  font-size: 20px;
  line-height: 26px;
  font-weight: 900;
}

.paragraph-2 {
  margin-bottom: 0px;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.link-2 {
  color: #e64539;
  font-size: 18px;
  line-height: 18px;
  text-decoration: underline;
}

.link-2:hover {
  color: #ff6c61;
}

.link-2.blue {
  color: #5b8fff;
  font-weight: 500;
}

.link-2.blue:hover {
  color: #7aa1f5;
}

.div-block-8 {
  width: 630px;
}

.div-block-9 {
  margin-bottom: 30px;
  text-align: right;
}

.image-8 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.link-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  font-weight: 200;
  text-align: center;
  text-decoration: underline;
}

.image-9 {
  display: none;
}

.div-block-10 {
  position: relative;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 33%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .navbar {
    padding-right: 15px;
    padding-left: 15px;
  }

  .logo {
    margin-top: 0px;
  }

  .nav {
    width: 100%;
    margin-bottom: 10px;
    padding-left: 15px;
    border-radius: 2px;
    background-color: #f4f4f4;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.54);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    color: #5b8fff;
    font-size: 18px;
    text-align: left;
  }

  .nav:hover {
    padding-left: 25px;
  }

  .nav.hide {
    display: none;
  }

  .nav.m {
    background-image: url('../images/ic-sign-up-icon.svg');
    background-position: 97% 50%;
    background-size: auto 60%;
    background-repeat: no-repeat;
  }

  .nav.m.co {
    background-image: url('../images/ic-send.svg');
  }

  .nav.m.mem {
    background-image: url('../images/mmbrs-btn.svg');
  }

  .nav.mob {
    display: block;
  }

  .nav.mob.m {
    -webkit-transition: all 333ms ease;
    transition: all 333ms ease;
  }

  .nav.mob.m:hover {
    box-shadow: none;
  }

  .nav.mob.m.vk {
    background-image: url('../images/vk.svg');
  }

  .nav.mob.m.ig {
    background-image: url('../images/instagram.svg');
  }

  .nav.mob.m.fb {
    background-image: url('../images/fb-icon.svg');
  }

  .div-block {
    min-height: auto;
  }

  .heading {
    font-size: 30px;
    line-height: 32px;
  }

  .heading-2 {
    font-size: 28px;
    line-height: 32px;
  }

  .text-block-2 {
    line-height: 24px;
  }

  .container {
    min-height: auto;
  }

  .nav-menu {
    width: 100%;
    min-height: 100vh;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3d64b6), to(#364d7f));
    background-image: linear-gradient(180deg, #3d64b6, #364d7f);
    text-align: center;
  }

  .brand {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: 60px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .register {
    display: none;
  }

  .h2 {
    font-size: 22px;
    line-height: 24px;
    z-index: 9;
    position: relative;
    
  }

  .h2.center {
    text-align: left;
  }

  .paragraph {
    font-weight: 200;
  }

  .paragraph.center {
    text-align: left;
  }

  .paragraph.center.c {
    text-align: center;
  }

  .columns {
    display: block;
  }

  .section-4 {
    height: auto;
    padding-bottom: 55px;   
  }

  .section-5 {
    min-height: auto;
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .div-block-3 {
    width: 100%;
  }

  .section-6 {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .f {
    margin-bottom: 20px;
  }

  /* .submit-button._2 {
    margin-top: 5px;
    margin-right: 0px;
  } */

  .image-2 {
    display: block;
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
  }

  .section-8 {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .section-9 {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .footer {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .event-div {
    height: auto;
    min-height: 220px;
    margin-bottom: 15px;
  }

  .social-footer {
    display: block;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    float: none;
  }

  .social-footer.l.contact {
    margin-right: 0px;
    margin-bottom: 0px;
  }

  .social-footer.l.s {
    margin-right: 0px;
    margin-bottom: 0px;
  }

  .link-block-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .text-block-5 {
    margin-top: 5px;
    margin-left: 0px;
    padding-left: 0px;
  }

  .column {
    padding-left: 10px;
  }

  .mobileimg {
    display: block;
    margin-right: auto;
    margin-bottom: -50px;
    margin-left: auto;
  }

  .image-4 {
    margin-top: 15px;
  }

  .image-4.m {
    display: inline-block;
  }

  .text-block-8 {
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
  }

  .text-block-8.m {
    display: block;
  }

  .column-2 {
    padding-left: 0px;
  }

  .image-5 {
    margin-right: auto;
    margin-left: auto;
  }

  .lottie-animation-3 {
    width: 30px;
  }

  .menu-button-2 {
    padding-top: 15px;
    padding-right: 0px;
  }

  .menu-button-2.w--open {
    background-color: transparent;
  }

  .form-block-2 {
    width: 100%;
  }

  .field-2 {
    margin-bottom: 9px;
  }

  .section-10 {
    min-height: auto;
    padding-top: 80px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 767px) {
  .div-block._100 {
    min-height: 100vh;
  }

  .container._100 {
    min-height: 100vh;
  }

  .brand {
    width: 8%;
    margin-left: 15px;
  }

  .section-3 {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .section-8.g {
    background-position: 50% 10%;
    background-size: 90%;
  }
 
  .social-footer {
    display: block;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }

  .social-footer.l.contact {
    margin-right: auto;
    margin-left: auto;
    float: none;
  }

  .social-footer.l.s {
    margin-right: auto;
    margin-left: auto;
    float: none;
  }

  .link-block-2 {
    text-align: center;
  }

  .text-block-5 {
    width: 100%;
    margin-left: 0px;
  }

  ._100 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .form-block-2 {
    padding: 10px;
  }

  .column-27 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .field-2 {
    width: 100%;
  }

  .column-26 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .image-6 {
    position: static;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .success-message {
    padding: 17px;
  }

  .success-message.cong {
    width: 100%;
  }

  .text-block-10 {
    margin-bottom: 14px;
  }

  .div-block-7 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .promo-top {
    height: 124px;
  }

  .promo-bottom {
    height: auto;
    min-height: 160px;
  }

  .container-3 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .div-block-8 {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .section-2 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .section-2.reg {
    min-height: auto;
  }

  .logo {
    margin-right: 0px;
  }

  .div-block._100 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .div-block._100.reg {
    display: block;
    height: auto;
    min-height: auto;
    padding-top: 86px;
    padding-bottom: 55px;
  }

  .full-logo {
    width: 80%;
  }

  .heading-2 {
    font-size: 28px;
    line-height: 32px;
  }

  .text-block-2 {
    font-size: 20px;
    line-height: 24px;
  }

  .container._100 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .container._100.reg {
    display: block;
    height: auto;
    min-height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .brand {
    width: 14%;
    margin-left: 0px;
    padding-left: 0px;
  }

  .h2 {
    font-size: 23px;
  }

  .h2.center.black {
    text-align: center;
  }

  .paragraph.center {
    font-weight: 300;
  }

  .paragraph.center.black {
    text-align: center;
  }

  .paragraph.black.b {
    margin-bottom: 50px;
  }

  .paragraph.black.space {
    margin-bottom: 50px;
  }

  .section-5 {
    padding-bottom: 35px;
  }

  .social {
    margin-right: 0px;
    margin-left: 0px;
  }

  .div-block-3 {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  /* .submit-button {
    margin-top: 0px;
  } */

  .section-7 {
    padding-top: 30px;
    padding-bottom: 35px;
  }

  .image-2 {
    display: none;
  }

  .section-8 {
    padding: 50px 20px;
  }

  .section-8.g {
    padding: 50px 15px;
    background-position: 50% 5%;
  }

  .section-9 {
    padding: 15px 15px 0px;
  }

  .event-div {
    padding-top: 35px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .column {
    padding-right: 0px;
    padding-left: 0px;
  }

  .mobileimg {
    margin-bottom: -10px;
  }

  .column-2 {
    padding-right: 0px;
  }

  .menu-button-2 {
    padding-right: 0px;
  }

  .form-block-2 {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0px;
  }

  .field-2 {
    height: 48px;
    font-size: 14px;
  }

  .image-6 {
    width: 90px;
  }

  .image-6.thanks {
    margin-bottom: -37px;
  }

  .success-message.cong {
    margin-bottom: 35px;
  }

  .image-7 {
    margin-bottom: -114px;
  }

  .div-block-9 {
    margin-bottom: 5px;
  }

  .image-8 {
    width: 90px;
  }

  .column-28 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .image-9 {
    display: block;
  }

  .column-29 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

