.blog_image1 {
    transform: rotate(90deg);
    transform: rotate(87deg);
    margin-top: auto;
}
.blog_image2 {
    transform: rotate(90deg);
    transform: scaleX(-1);
    margin-top: 400px;
    margin-left: 80%;
}
.curent_blogImage {
    background-image: url(../images/photo_2021-04-27_17-31-42.jpg);
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 700px;
    min-height: 70vh;
    min-width: 100%;
    background-color: #fff;
    background-position: 50% 60%;
    background-size: cover;
    -o-object-fit: fill;
    object-fit: fill;
}
#Blog_pageBlog .h2.center.h2Blog {
    width: 100%;
}
#Blog_pageBlog.section-4 {
    padding: 150px 15px 200px 15px;
}
#Blog_pageBlog .blockBlog {
    padding-bottom: 150px;
}
#Blog_pageBlog .ui-title.section-offers__title-bg.is-theme-bg.blog {
    margin-top: -50px;
}
#Blog_pageBlog .blog_image {
    margin-top: -208px;
    right: 0;
    left: auto;
    transform: scale(1, 1);
}
#email-form {
    position: relative;
    max-width: 800px;
    margin: -60px auto 0px;
    padding-top: 10px;
    padding-left: 40px;
    float: none;
    border-radius: 25px;
    display: block;
    max-width: 800px;
    min-height: 0px;
    margin-bottom: -220px;
    padding: 40px;
    border-radius: 25px 0px 0px 25px;
    background-color: #193c6d;
    background-size: 100%;
    background-image: -webkit-linear-gradient(105deg, #193c6d, #022350fa, #021836fa);
    background-image: -moz-linear-gradient(105deg, #193c6d, #022350fa, #021836fa);
    background-image: -ms-linear-gradient(105deg, #193c6d, #022350fa 0, #021836fa 100%);
    background-image: -o-linear-gradient(105deg, #193c6d, #022350fa, #021836fa);
    background-image: linear-gradient(105deg, #193c6d, #022350fa, #021836fa);
    box-shadow: 4px 4px 20px 11px #d6d6d6;
    color: #eaeaea;
}
label {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.text-block-2 {
    max-width: 1200px;
    margin: 0px auto 20px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    line-height: 62px;
}
.blog1Section {
    margin-bottom: 0%;
    margin-left: auto;
    padding: 0% 10% 60px;
    background-color: transparent;
}
.text-block-3 {
    max-width: 800px;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    color: #021836fa;
}
ul {
    padding-left: 40px;
}
.paragraph {
    line-height: initial;
    color: #021836fa;
}
.block_btn_seeAllPosts {
    height: 100px;
    margin-top: 100px;
}
.block_btn_seeAllPosts a {
    float: right;
    margin-right: 100px;
    margin-top: 50px;
    line-height: 30px;
}
.contactText {
    width: 100%;
    text-align: center;
    opacity: .3;
    z-index: 0;
    color: transparent;
    text-shadow: 5px 1px 1px rgb(163 163 163), -5px 1px 1px #021836fa;
    position: relative;
    top: 0%;
    right: auto;
    bottom: auto;
    font-size: 200px;
    line-height: 1em;
    font-weight: 700;
    letter-spacing: -.02em;
    white-space: nowrap;
    text-transform: uppercase;
    padding-top: 100px;
}
#Blog-Form {
    display: grid;
    max-width: 800px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}
.blog1_mainBlock {
    position: relative;
    margin: -20vh 0% 0%;
    padding: 5% 5% 7%;
    background-color: #fdfcfc;
    -webkit-box-shadow: 0 60px 50px rgb(255 255 255 / 25%);
    box-shadow: 0 60px 50px rgb(255 255 255 / 25%);
    position: relative;
    z-index: 2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #021836fa;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    letter-spacing: 0.33px;
    line-height: 1.7em;
}
@media screen and (max-width:1300px) {
    #email-form {
        margin: -40px auto 0px;
    }
    .contactText {
        font-size: 150px;
    }
}
@media screen and (max-width: 1100px) {
    .contactText {
        font-size: 100px;
        text-shadow: 2px 1px 1px rgb(163 163 163), -2px 1px 1px #021836fa;
    }
    #email-form {
        margin: 20px 0px;
    }
}
@media screen and (max-width:800px){
    .btn.fancy-btn {
        padding: 10px 60px;
    }
}
@media screen and (max-width:700px) {
    #Blog-Form {
        display: block;
    }
    .btn.fancy-btn {
        font-size: 10px;
        line-height: 22px;
    }
}
@media screen and (max-width: 650px) {
    .contactText {
        font-size: 50px;
        text-shadow: 2px 1px 1px rgb(163 163 163), -1px 1px 1px #021836fa;
    }
    .btn.fancy-btn {
        padding: 19px 70px;
        font-size: 12px;
    }
    #email-form {
        padding: 10px;
    }
    .block_btn_seeAllPosts {
        margin-top: 0;
    }
}
@media screen and (max-width:500px) {
    .blog1Section {
        padding: 0% 10px 20px !important;
    }
}
@media screen and (max-width: 450px) {
    .btn.fancy-btn {
        padding: 8px 70px;
        font-size: 12px;
    }
    #email-form {
        padding: 10px;
        padding-bottom: 50px;
    }
    #Blog-Form {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        margin-top: 0;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .btn.fancy-btn {
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 28px;
    }
    .text-block-2 {
        font-size: 30px;
        line-height: 42px;
    }
    .block_btn_seeAllPosts {
        margin-top: inherit;
    }
    .btn.fancy-btn.w-button:before {
        top: -2px;
        right: 30px;
    }
    .contactText {
        font-size: 50px;
        line-height: 50px;
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .blog1Section {
        padding: 0% 10px 10px;
        background-color: transparent;
    }
    .text-block-3 {
        line-height: 18px;
        font-size: 14px;
    }
}
@media screen and (max-width:400px) {
    .btn.fancy-btn.w-button:before {
        top: -2px;
        right: 30px;
    }
    .btn.fancy-btn {
        padding: 5px 65px;
    }
    .block_btn_seeAllPosts {
        margin-top: inherit;
    }
}
@media screen and (max-width:350px) {
    .btn.fancy-btn {
        font-size: 10px;
        line-height: 30px;
    }
    .blog1Section {
        padding: 0% 5px 20px !important;
    }
    .blog1_mainBlock {
        padding: 5px;
    }
    .block_btn_seeAllPosts a {
        float: none;
        margin-left: 15%;
        width: 70%;
    }
}
@media screen and (max-width:300px) {
    .btn.fancy-btn.orange.dark.w-button {
        padding: 1px 60px 3px 20px;
    }
    .btn.fancy-btn.w-button:before {
        top: -2px;
        right: 38px;
    }
    .btn.fancy-btn {
        font-size: 10px;
        line-height: 35px;
    }
}